body{
    margin-bottom: 500px;
    margin-top: 500px;
}

.bkg-silver{
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}
.circle-mustard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    width: 110px;
    border: 1px solid orange;
    border-radius: 60px;
    height: 110px;
    position: absolute;
    -webkit-animation-name: aparece;
    animation-name: aparece;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; 
    animation-delay: 1.5s;
    left: 45%;
    top: 40%;
    opacity: 0;
}
.circle-silver{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    width: 120px;
    border: 1px solid grey;
    border-radius: 60px;
    height: 120px;
    position: absolute;
    -webkit-animation-name: primero;
    animation-name: primero;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
    left: 30%;
    top: 40%;
}
.circle-silver--2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    width: 120px;
    border: 1px solid grey;
    border-radius: 60px;
    height: 120px;
    position: absolute;
    -webkit-animation-name: primero;
    animation-name: primero;
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
    right: 30%;
    top: 40%;
}
.circle-silver--3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    width: 55px;
    border: 1px solid grey;
    border-radius: 50px;
    height: 55px;
    position: absolute;
    -webkit-animation-name: aparece;
    animation-name: aparece;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s; 
    animation-delay: 2s;
    right: 32%;
    top: 40%;
    opacity:0;
}
.uno{
    right: 35%;
    top: 17%
}
.dos{
    right: 70%;
    top: 70%;
    
}
.tres{
    left: 30%;
    top: 10%;
}
.cuatro{
    left: 80%;
    top: 60%;
}
.cinco{
    right: 25%;
    top: 75%;
}
.seis{
    top: 33%;
    right: 20%;
    animation-delay: 3s;
}
.siete{
    top: 80%;
    right: 16%;
    animation-delay: 3s;
}
.ocho{
    top: 25%;
    right: 45%;
    animation-delay: 3s;
}
.nueve{
    top: 80%;
    right: 55%;
    animation-delay: 3s;
}
.diez{
    top: 23%;
    left: 17%;
    animation-delay: 3s;
}
.once{
    left: 15%;
    top: 55%;
    animation-delay: 3.5s;
    width: 50px;
    height: 50px;
}
.doce{
    left: 21%;
    top: 85%;
    animation-delay: 3.5s;
    width: 50px;
    height: 50px;
    width: 40px;
    height: 40px;
}
.trece{
    top: 16%;
    right: 20%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.catorce{
    top: 5%;
    right: 26%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.quince{
    top: 4%;
    right: 10%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.diesyseis{
    top: 25%;
    right: 27%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.diesysiete{
    top: 34%;
    right: 6%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.diesyocho{
    top: 48%;
    right: 23%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.diesynueve{
    top: 85%;
    right: 8%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veinte{
    top: 90%;
    right: 20%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veintiuno{
    top: 35%;
    right: 40%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veintidos{
    top: 60%;
    right: 50%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veintitres{
    top: 88%;
    right: 47%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veinticuatro{
    top: 90%;
    left: 36%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veinticinco{
    top: 75%;
    left: 33%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veintiseis{
    top: 75%;
    left: 10%;
    animation-delay: 4s;
    width: 40px;
    height: 40px;
}
.veintisiete{

}
.veintiocho{

}
.veintonueve{

}
.triangle-red{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 175px;
    position: absolute;
    -webkit-animation-name: derecha;
    animation-name: derecha;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    top: -60%;
}
.triangle-red--2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 175px;
    position: absolute;
    -webkit-animation-name: izquierda;
    animation-name: izquierda;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    top: -60%;
}
.tamaño{
    top: -60%;
    -webkit-animation-name: aparece;
    animation-name: aparece;
    -webkit-animation-duration: 2.8s;
    animation-duration: 2.8s;
}
.tamaño--2{
    top: -70%;
    -webkit-animation-name: aparece;
    animation-name: aparece;
    -webkit-animation-duration: 2.8s;
    animation-duration: 2.8s;
}
.parrafo{
    position: absolute;
    top: 60%;
    font-weight: 800;
    font-size: 20px;
    color: silver;
}
.variante{
    top: 40%;
    font-size: 15px;
}
.tamaño-2{

}


/* Chrome, Safari, Opera */
@-webkit-keyframes aparece {

    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
 }    

/* Standard syntax */
@-webkit-keyframes primero {
    0%{
        transform: scale(0)
    }
    60%{
        transform: scale(1)
    }
    75%{
       
    }
    
    100%{
        
    }
}

@-webkit-keyframes derecha { 
    0%{
        transform: scale(0)
    }
    60%{
        transform: scale(1)
    }
    75%{
        transform: translateX(135px);
    }
    
    100%{
        
    }
 }
 @-webkit-keyframes izquierda { 
    0%{
        transform: scale(0)
    }
    60%{
        transform: scale(1)
    }
    75%{
        transform: translateX(-135px);
    }
    
    100%{
        
    }
 }
 
   